.editor {
  padding-bottom: 88px;
}
.editor__title {
  font-family: $montserrat;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  color: #635c73;
  margin-top: 122px;
  margin-bottom: 14px;
}

.editor__desription {
  font-family: $lato;
  font-size: 15px;
  color: #323232;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 35px;
}

// BUTTONS

.editor-btns {
  @include flexStyle($content: center, $items: center);
  flex-wrap: wrap;
  margin: 0 5px;

  &__watch {
    @include flexStyle($content: center, $items: center) ;
    height: 26px;
    margin: 0 4px;
    margin-bottom: 10px;
  }

  &__star {
    @include flexStyle($content: center, $items: center) ;
    height: 26px;
    margin: 0 4px;
    margin-bottom: 10px;

  }

  &__fork {
    @include flexStyle($content: center, $items: center) ;
    height: 26px;
    margin: 0 4px;
    margin-bottom: 10px;

  }
}

.editor-btns-watch__button,
.editor-btns-star__button,
.editor-btns-fork__button {
  @include flexStyle($content: center, $items: center) ;
  padding: 0 10px;
  background: linear-gradient(#fff, #eeeeef);
  border: 1px solid #d5d5d5;
  height: 100%;
  border-radius: .25rem 0 0 .25rem;
  font-family: $lato;
  font-size: 14px;
}

.editor-btns-watch__counter,
.editor-btns-star__counter,
.editor-btns-fork__counter{
  padding: 0 10px;
  background-color: #fff;
  height: 100%;
  line-height: 24px;
  border-radius: 0 .25rem .25rem 0 ;
  border: 1px solid #d5d5d5;
  background-color: #fff;
  font-family: $lato;
  font-size: 14px;

}

.editor-btns-watch-button__icon {
  height: 11px;
  width: 16px;
  background: url("../img/editor-sprite-code.png") -26px -0;
  margin-right: 5px;
}

.editor-btns-star-button__icon {
  height: 13px;
  width: 14px;
  background: url("../img/editor-sprite-code.png") -12px -0;
  margin-right: 5px;

}

.editor-btns-fork-button__icon {
  height: 16px;
  width: 12px;
  background: url("../img/editor-sprite-code.png") -0 -0;
  margin-right: 5px;

}

.editor-btns-fork__link {
  text-decoration: none;
  color: #373736;
}



