.main-header {
    background: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center 0;
    padding-bottom: 400px;
    text-align: center;
    position: relative;

    &__navbar {
        background: #27262A;
        margin-bottom: 43px;
    }

    &__menu {
        @include flexStyle(space-between);
        height: 103px;
    }

    &__brand {
        @include flexStyle();
        text-decoration: none;

        &:hover .main-header__logo-text{
            color: white;
        }

        &:hover .main-header__logo{
            background-position: -43px;
        }
    }
    
    &__logo {
        background: url(../img/logo-sprite.png);
        width: 43px;
        height: 41px;
    }

    &__logo-text {
        display: none;
    }

    .main-header-menu-items {
        &__buy-btn {
            width: 120px;
            height: 38px;
            background: $violet-color;
            color: white;
            font-family: $montserrat;
            font-weight: 700;
            border-radius: 19px;
            outline: none;
            box-sizing: border-box;

            &:hover {
                border: 1px solid $violet-color;
                background: white;
                color: $violet-color;
            }
        }

        &__list {
            @include flexStyle();
            display: none;
            flex-direction: column;
            position: absolute;
            top: 103px;
            width: 100%;
            padding: 0 15px;
            left: 0;
        }

        &__item {
            width: 100%;
            height: 87px;
            border-bottom: 2px solid #3B3B3B;
            @include flexStyle(flex-start);
            background: #333;
            text-align: left;
        }

        &__link {
            color: $violet-color;
            line-height: 53px;
            color: white;
            text-decoration: none;
            font-family: $montserrat;
            font-size: 19px;
            padding-left: 30px;
            box-sizing: border-box;
            border-left: 8px solid transparent;
            height: 53px;
            display: block;

            &:hover {
                border-left: 8px solid $violet-color;
                color: $violet-color;
            }
        }
    }

    &__burger-menu {
        background: url(../img/burger-menu.png);
        width: 26px;
        height: 21px;
    }

    &__title {
        color: white;
        font-size: 60px;
        font-family: $montserrat;
        font-weight: 700;
        margin-bottom: 18px;
    }

    &__subtitle {
        color: $violet-color;
        font-size: 22px;
        font-family: $lato;
        margin-bottom: 18px;
    }
    
    &__description {
        color: #848E97;
        font-size: 12px;
        font-family: $montserrat;
        text-transform: uppercase;
    }

    &__lower-info {
        @include flexStyle();
        flex-direction: column;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -69.4px;
    }
    
    &__download-btn {
        padding: 0 31px;
        width: 290px;
        height: 62px;
        color: white;
        background: $violet-color;
        font-family: $montserrat;
        font-weight: 700;
        border-radius: 31px;
        outline: none;
        margin-bottom: 20px;

        &:hover {
            border: 1px solid $violet-color;
            background: white;
            color: $violet-color;
        }
    }
    
    &__download-btn-subtitle {
        font-size: 14px;
        font-family: $montserrat;
        color: #848E97;
    }
}

@include responsive($mobile) {
    .main-header {
        padding-bottom: 450px;

        &__navbar {
            position: relative;
            height: 118px;
            margin-bottom: 50px;
        }

        &__logo-text {
            display: inline;
            text-transform: uppercase;
            color: $violet-color;
            font-family: $lato;
            font-weight: 700;
            font-size: 24px;
            margin-left: 17px;
        }

        &__menu {
            @include flexStyle(space-between, flex-start);
            padding-top: 24px;
        }

        .main-header-menu-items {
            &__list {
                @include flexStyle();
                bottom: 20px;
                top: auto;
                padding: 0;
                height: 20px;
                flex-direction: row;
                left: 50%;
                transform: translateX(-50%);
            }

            &__item {
                width: auto;
                height: auto;
                border-bottom: none;
                display: block;
                background: none;
                text-align: auto;
            }

            &__link {
                font-weight: 700;
                color: $violet-color;
                margin: 0 12px;
                font-size: 14px;
                border-left: none;
                line-height: auto;
                padding: 0;
                
                &:hover {
                    border-left: none;
                    color: white;
                }
            }

            &__buy-btn {
                margin-left: 24px;
            }
        }

        &__burger-menu {
            display: none;
        }    
    }
}

@include responsive($tablet) {
    .main-header {    
        &__navbar {
            height: 100px;
            margin-bottom: 60px;
        }
        
        &__menu {
            @include flexStyle(space-between);
            padding-top: 0;
            height: 100px;
        }

        &__menu-items {
            @include flexStyle();
        }
        
        .main-header-menu-items {
            &__list {
                position: static;
                transform: none;
            }

            &__link {
                margin: 0 24px;
                font-size: 16px;
            }

            &__buy-btn {
                min-width: 145px;
            }
        }

        &__download-btn {
            width: auto;
            padding: 0 62px;
        }    
    }
}

@include responsive($desktop) {
    .main-header {
        background-size: cover;
    }
}