
.pricing-section {
  background: url("../img/footer-bg.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 65px;
  padding-bottom: 90px;
}

.pricing-section__title {
  font-family: $montserrat;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin-bottom: 45px;
}

.pricing-section-price-block {
  width: 257px;
  height: 457px;
  background-color: rgba(255, 255, 255, .11);
  margin: 0 auto 14px;
  text-align: center;

  &__top {
      width: 100%;
      height: 97px;
      line-height: 97px;
      background-color: rgba(255, 255, 255, .06);
      font-family: $montserrat;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      // padding-top: 35px;
        &--recommended {
          background-color: rgba(0, 0, 0, .1);
          height: 111px;
          line-height: 111px;
        }
  }

  &__price-sign {
    font-weight: 300;
  }

  &__price {
    width: 100%;
    height: 97px;
    font-family: $montserrat;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 25px;
      &--recommended {
        font-size: 82px;
        margin-top: 25px;
      }
  }

  &__period {
    font-family: $montserrat;
    font-size: 14px;
    color: #9a939b;
    text-transform: uppercase;
    text-align: center;
      &--recommended {
        margin-top: 30px;
      }
  }

  &__divider {
    width: 60px;
    height: 5px;
    background-color: $violet-color;
    margin: 35px auto 35px auto;
  }

  &__divider--recommended {
    margin: 40px auto 40px auto;
  }

  &__license {
    font-family: $montserrat;
    font-size: 16px;
    color: #fff;
    text-align: center;
    &--license-recommended {
      font-family: $montserrat;
      font-size: 16px;
      color: #fff;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 65px;
    }
  }

  &__support {
    font-family: $montserrat;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 40px;
  }

  &__support--recommended {
    margin-bottom: 70px;
  }

  &__btn {
    background-color: rgba(255, 255, 255, .15);
    border-radius: 45px;
    font-family: $montserrat;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 35px;
    margin: 0 auto;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 45px;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #5c505f;
    padding: 12px 35px;
    margin: 0 auto;
    cursor: pointer;
  }
}

.pricing-section__price-block--recommended {
  width: 290px;
  height: 560px;
  background-color: rgba(0, 0, 0, .2);
}


// ======= RESPONSIVE STYLES ===========================================================

//======= 481-992px+ ========

@include responsive($mobile) {
  .pricing-section__title {
    font-size: 42px;
  }


  .pricing-section-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    align-items: center;
    justify-content: center;
  }



  .pricing-section-price-block {
    max-width: 257px;
    width: 90%;
    background-color: rgba(255, 255, 255, .11);
    margin: 0 auto 14px;
    text-align: center;

    &__top {
      width: 100%;
      background-color: rgba(255, 255, 255, .06);
      font-family: $montserrat;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      &--recommended {
        background-color: rgba(0, 0, 0, .1);
        //padding-top: 45px;
        // padding-top: 7vmin;
        // height: 20vmin;
        //height: 111px;
      }
    }

    &__price-sign {
      font-weight: 300;
    }

    &__price {
      width: 100%;
      height: 97px;
      font-family: $montserrat;
      font-size: 60px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      margin-top: 25px;
      &--recommended {
        font-size: 82px;
        margin-top: 25px;
      }
    }

    &__period {
      font-family: $montserrat;
      font-size: 14px;
      color: #9a939b;
      text-transform: uppercase;
      text-align: center;
      &--recommended {
        margin-top: 30px;
      }
    }

    &__divider {
      width: 60px;
      height: 5px;
      background-color: $violet-color;
      margin: 35px auto 35px auto;
    }

    &__divider--recommended {
      margin: 40px auto 40px auto;
    }

    &__license {
      font-family: $montserrat;
      font-size: 16px;
      color: #fff;
      text-align: center;
      &--license-recommended {
        font-family: $montserrat;
        font-size: 16px;
        color: #fff;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 65px;
      }
    }

    &__support {
      font-family: $montserrat;
      font-size: 16px;
      color: #fff;
      text-align: center;
      margin-top: 8px;
      margin-bottom: 40px;
    }

    &__support--recommended {
      margin-bottom: 70px;
    }

    &__btn {
      background-color: rgba(255, 255, 255, .15);
      border-radius: 45px;
      font-family: $montserrat;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding: 12px 35px;
      margin: 0 auto;
      cursor: pointer;
    }

    &__btn:hover {
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 45px;
      font-family: $montserrat;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #5c505f;
      padding: 12px 35px;
      margin: 0 auto;
      cursor: pointer;
    }
  }

  .pricing-section__price-block--recommended {
    max-width: 290px;
    background-color: rgba(0, 0, 0, .2);
  }


}


//======= 993-1200px ========

@include responsive($tablet) {
  .pricing-section {
    background-size: cover;
  &__title {
    font-size: 48px;
  }

  }
  .pricing-section-wrap {
    @include flexStyle($content: center, $items: center);
  }

  .pricing-section-price-block {
    margin: 20px 10px 0 0;
    width: 257px;
    height: 457px;
  }
  .pricing-section__price-block--recommended {
    width: 290px;
    height: 560px;
    background-color: rgba(0, 0, 0, .2);
  }
}