.section-testimonials {
    background: url(../img/testimonials-bg.png), $dark-violet-color;
    background-repeat: no-repeat;
    background-position-x: center;
    padding-top: 60px;

    &__title {
        text-align: center;
        color: white;
        font-size: 26px;
        font-family: $montserrat;
        font-weight: 700;
        margin-bottom: 50px;
    }

    &__brand {
        @include flexStyle();
        flex-direction: column;
        text-align: center;
        font-family: $lato;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 50px;

        &:nth-child(1) {
            .section-testimonials-brand__logo {
                background: url(../img/testimonials-sprite.png);
                width: 165px; 
                height: 43px;
                background-position: -148px -0;
            }
        }
        &:nth-child(2) {
            .section-testimonials-brand__logo {
                background: url(../img/testimonials-sprite.png);
                width: 148px; 
                height: 50px;
            }
        }
        &:nth-child(3) {
            .section-testimonials-brand__logo {
                background: url(../img/testimonials-sprite.png);
                width: 64px; 
                height: 64px;
                background-position: 0 -109px;
            }
        }
        &:nth-child(4) {
            .section-testimonials-brand__logo {
                background: url(../img/testimonials-sprite.png);
                width: 226px; 
                height: 25px;
                background-position: -0 -50px;
            }
        }
        &:nth-child(5) {
            .section-testimonials-brand__logo {
                background: url(../img/testimonials-sprite.png);
                width: 166px; 
                height: 34px;
                background-position: -0 -75px;
            }
        }
        &:nth-child(6) {
            .section-testimonials-brand__logo {
                background: url(../img/testimonials-sprite.png);
                width: 108px; 
                height: 34px;
                background-position: -166px -75px;
            }
        }
    }

    .section-testimonials-brand {
        &__logo-wrapper {
            height: 64px;
            margin-bottom: 20px;
        }

        &__text {
            color: white;
        }
    }

    &__text {
        display: none;
    }

    &__separator {
        background: #645766;
        width: 290px;
        height: 2px;
        margin: 0 auto;
    }
}

@include responsive($mobile) {
    .section-testimonials {
        padding-top: 80px;

        &__title {
            font-size: 31px;
        }
        
        &__brands {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 70px;
            margin-bottom: 60px;
        }

        &__text {
            display: block;
            text-align: center;
            font-family: $lato;
            color: #A291A5;
            margin-bottom: 10px;
            padding: 0 20px;
        }

        &__separator {
            width: 90%;
        }
    }
}

@include responsive($tablet) {
    .section-testimonials {
        padding-top: 98px;

        &__title {
            font-size: 35px;
        }

        &__brands {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 120px;
            margin-bottom: 100px;
        }

        &__text {
            padding: 0 100px;
        }

        &__separator {
            width: 780px;
        }
    }
}

@include responsive($desktop) {
    .section-testimonials {
        background-size: cover;
    }
}