
.what-you-get {
  overflow-x: hidden;

  background-color: #f4f4f4;
  padding-top: 34px;
  padding-bottom: 15px;
}

.what-you-get__title {
  font-family: $montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: $violet-color;
  margin-bottom: 14px;
  padding: 0 30px 0 30px;
}

.page-icon-sprite {
  width: 111px;
  height: 64px;
  background: url("../img/what-you-get-section-sprite.png") -90px -0;

}

.timer-icon-sprite {
  background: url("../img/what-you-get-section-sprite.png") -0 -0px;
  width: 90px; height: 80px;
}

.glass-icon-sprite {
  background: url("../img/what-you-get-section-sprite.png") -201px -0;
  margin-right: 10px;
  width: 60px;
  height: 84px;
}

.watch-icon-sprite {
  width: 71px;
  height: 71px;
  background: url("../img/what-you-get-section-sprite.png") -0 -80px;
  margin-right: 10px;
}


.what-you-get-description {
  @include flexStyle($content: center, $items: center);
  background-color: #f4f4f4;
  flex-direction: column;
  text-align: center;
  &__icon {
    margin: 34px 0 29px 0;
    display: inline-block;
  }
  &__text-title {
    font-family: $montserrat;
    font-size: 16px;
    color: #323232;
    margin-bottom: 10px;
  }
  &__text-brief {
    font-family: $lato;
    font-size: 14px;
    color: #848e97;
    line-height: 1.5;
  }
}
.what-you-get__description-image-container {
  position: relative;
  width: 753px;
  height: 400px;
  margin-top: 40px;
}

.what-you-get__description-image-picture {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

// ======= RESPONSIVE STYLES ============================================================




// ======= 481-992px ========

@include responsive($mobile) {

  .what-you-get {
    padding-top: 70px;
  }

   .what-you-get__title {
    margin-bottom: 60px;
    font-size: 40px;
  }
  .what-you-get-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    &__block {
      display: grid;
      grid-template-columns: 130px 70%;
      margin-bottom: 56px;
    }
    &__icon {
      margin-top: 0;
    }
    &__text {
      text-align: left;
    }
    &__text-title {
      font-size: 16px;
    }
    &__text-brief {
      font-size: 14px;
    }
  }

  .what-you-get__description-image-container {
    position: relative;
    width: 977px;
    height: 520px;
    margin-top: 40px;
  }

  .what-you-get__description-image-picture {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }
}


//======= 993-1200px ========

@include responsive($tablet) {
  .what-you-get {
    overflow-x: hidden;
    padding-top: 70px;
    position: relative;

    &__title {
      font-size: 39px;
      text-align: left;
      padding: 0;
    }
    &__description-image-container {
      height: 380px;
    }
  }


  .what-you-get-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
  }

  .what-you-get-description {
    grid-row: 1 / 3;
    padding-top: 15px;

    &__block {
      display: grid;
      grid-template-columns: 1fr 70%;
      margin-bottom: 56px;
    }
    &__icon {
      margin-top: 0;
    }
    &__text {
      padding-right: 90px;
    }
    &__text-title {
      font-family: $montserrat;
      font-size: 12px;
      font-weight: 700;
      color: #323232;
      margin-bottom: 10px;
    }
    &__text-brief {
      font-family: $montserrat;
      font-size: 12px;
      color: #848e97;
      line-height: 1.5;
      margin-right: 10px;
    }
  }
  .what-you-get__description-image-container {
    position: absolute;
    width: 977px;
    height: 520px;
    margin-top: 40px;
    top: 8vmax;
    left: 48vmax;
  }

  .what-you-get__description-image-picture {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }
}

