
@mixin flexStyle($content: center, $items: center) {
    display: flex;
    justify-content: $content;
    align-items: $items;
}

@mixin editorButtons {
    @include flexStyle;
    background: linear-gradient(#fff, #eeeeef);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    height: 26px;
    background-size: cover;
    width: 45%;
}

