@mixin responsive($size) {
    @if $size == mobile {
        @media screen and (min-width: 481px) {
            @content;
        }
    }

    @if $size == tablet {
        @media screen and (min-width: 993px) {
            @content;
        }
    }

    @if $size == desktop {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
}