// WHT YOU GET SECTION

 .bg-icon@1X__3_ {
     width: 71px; height: 71px;
     background: url('css_sprites.png') -0 -80px;
 }

 //.bg-icon@1X__2_ {
 //    width: 60px; height: 84px;
 //    background: url('css_sprites.png') -201px -0;
 //}

 x
 .bg-icon@1X__1_ {
     width: 90px; height: 80px;
     background: url('css_sprites.png') -0 -0;
 }

 x
 .bg-icon@1X {
     width: 111px; height: 64px;
     background: url('css_sprites.png') -90px -0;
 }


// TESTIOMONIALS SECTION

// .bg-CompositeLayer@1X {
//     width: 226px; height: 25px;
//     background: url('css_sprites.png') -0 -50px;
// }

// x
// .bg-logo@1X__1_ {
//     width: 148px; height: 50px;
//     background: url('css_sprites.png') -0 -0;
// }

// x
// .bg-logo@1X {
//     width: 165px; height: 43px;
//     background: url('css_sprites.png') -148px -0;
// }

// x
// .bg-logo@1X__4_ {
//     width: 108px; height: 34px;
//     background: url('css_sprites.png') -166px -75px;
// }

// x
// .bg-logo@1X__3_ {
//     width: 166px; height: 34px;
//     background: url('css_sprites.png') -0 -75px;
// }

// x
// .bg-icon_w {
//     width: 64px; height: 64px;
//     background: url('css_sprites.png') -0 -109px;
// }