// RESPONSIVE 
$mobile: mobile;
$tablet: tablet;
$desktop: desktop;

// FONTS 
$lato: "Lato", sans-serif;
$montserrat: "Montserrat", sans-serif;

// COLORS
$violet-color: #8D81AC;
$dark-violet-color: #4A3B4E;


